# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.packages
.flutter-plugins

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Claves de firma (¡MUY IMPORTANTE!)
android/key.properties
**/*.jks
**/*.keystore

# --- IOS ---
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/

# --- MACOS ---
macos/Flutter/ephemeral/

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- ENTORNO (Si usas variables de entorno) ---
.env
.env.*
! .env.example

# --- ANDROID ---
android/local.properties
android/gradle/wrapper/gradle-wrapper.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
